<script type="text/javascript">
    $('#container').highcharts({
        credits: {
            enabled: false
        },
        title: {
            text: 'Single IP Per Hour',
        },
        subtitle: {
            text: '{{filename}}',
            style:  { "color": "#FF0000" }
        },
        xAxis: {
            type:'category',
            title: {
                text:'Hour'
            }
        },
        yAxis: {
            title: {
                text: ''
            },
        },
        tooltip: {

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series:[{
            name:'Single IP',
            data:{% raw data %}
            }]
    });
</script>
