{% extends "../base.html" %}
{% block title %}Log File Mng{% end %}

{% block js %}
    <style type="text/css">
        #rawContent {
            margin-bottom:10px;
        }

        #upload {
            margin-top: 10px;
        }
    </style>

    <script type="text/javascript" src="{{ static_url('js/log.js') }}"></script>
{% end%}

{% block content %}

<h2>Log File Management</h2>
<div class="text-right">
    <a href="/">Back To Menu</a>
</div>

<div id="logContent"></div>

<div id="upload" class="well">
    <form class="form-inline" action="/upload" method="post" enctype="multipart/form-data">
            {% raw xsrf_form_html() %}
            <div class="form-group">
                <input type="file" id="fileUploader" name="fileUploader" >
            </div>
            <button type="submit" class="btn btn-success">Upload</button>
    </form>
</div>

{% end %}
